*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; /* 1rem == 10px; */
}

body {
  background-color: #000;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  color: rgb(250, 250, 250);
  font-family: Arial, sans-serif;
  font-size: 1.4em;
}

.app {
  position: relative;
  height: 75rem;
  width: 38rem;
  border-radius: 4rem;
  background-color: rgb(38, 38, 38);
  padding: 2rem;
}

svg {
  fill: rgb(250, 250, 250);
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
}

h1,
h2,
p {
  margin: 4px;
}

h1 {
  font-size: 2.5em;
}

.sub-text {
  color: rgb(114, 114, 114);
}

a {
  text-decoration: none;
  color: rgb(114, 114, 114);
}

header {
  .info_container {
    display: flex;
    justify-content: space-between;
  }

  .img_container {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    overflow: hidden;

    img {
      height: 110%;
    }
  }

  .info_threads {
    background-color: rgb(59, 59, 59);
    color: rgb(114, 114, 114);
    font-size: 1.1em;
    padding: 3px 6px;
    border-radius: 2rem;
  }
}

button.primary {
  color: rgb(250, 250, 250);
  border: rgb(114, 114, 114) solid 1px;
  background-color: transparent;
  padding: 0.7rem;
  margin: 1.5rem 0;
  border-radius: 0.7rem;
  font-weight: bold;
  width: 100%;
}

.button_container {
  button {
    border: none;
    border-bottom: rgb(114, 114, 114) solid 1px;
    background-color: transparent;
    color: rgb(250, 250, 250);
    font-weight: bold;
    width: 50%;
  }

  button.current {
    border-bottom: rgb(250, 250, 250) solid 2px;
  }
}

/*------------------- Thread ---------------------*/
.feed-card {
  border-bottom: rgb(114, 114, 114) solid 1px;
  padding: 1rem 0;

  .text_container {
    display: flex;
    justify-content: space-between;
  }

  .img_container {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    overflow: hidden;

    img {
      height: 110%;
    }
  }

  .icons svg {
    height: 2rem;
    padding: 0 0.5rem;
  }
}

/*----------------------Feed----------------------*/

.feed {
  height: 40rem;
  overflow-x: scroll;
}
